html {
    text-align: center;
    color: white;
}
/* background: linear-gradient(180deg, #be4bdb 0%, #e64980 100%); */

::selection {
    background: #e64980;
    color: white;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}

h1 {
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
}
